<h1>Lessons for Course: <%= @course.title%></h1>
<table>
  <thead>
    <tr>
      <td>id</td>
      <td>Title</td>
      <td>image_url</td>
      <td>course title</td>
      <td>created_at</td>
      <td>updated_at</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson[:id] %></td>
        <td><%= lesson[:title] %></td>
        <td><%= lesson[:image_url] %></td>
        <td><%= @course[:title] %></td>
        <td><%= lesson[:created_at].strftime('%F') %></td>
        <td><%= lesson[:updated_at].strftime('%F') %></td>
        <td><%= link_to 'Phrases', course_lesson_phrases_path(@course, lesson) %></td>
        <td><%= link_to 'Show', course_lesson_path(@course, lesson) %></td>
        <td><%= link_to 'Edit', edit_course_lesson_path(@course, lesson) %></td>
        <td><%= button_to 'Destroy', course_lesson_path(@course, lesson), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Go to courses', courses_path %>

<%= link_to 'New Lesson', new_course_lesson_path %>
