<table>
  <thead>
    <tr>
      <td>id</td>
      <td>audio_url</td>
      <td>input_language</td>
      <td>output_language</td>
      <td>phonetic</td>
      <td>created_at</td>
      <td>updated_at</td>
    </tr>
  </thead>
  <tr>
    <td><%= @phrase[:id] %></td>
    <td><%= @phrase[:audio_url] %></td>
    <td><%= @phrase[:input_language] %></td>
    <td><%= @phrase[:output_language] %></td>
    <td><%= @phrase[:phonetic] %></td>
    <td><%= @phrase[:created_at].strftime('%F') %></td>
    <td><%= @phrase[:updated_at].strftime('%F') %></td>
  </tr>
</table>
<%= link_to 'Edit', edit_course_lesson_phrase_path(@course, @lesson, @phrase) %> |
<%= button_to 'Delete', course_lesson_phrase_path(@course, @lesson, @phrase), method: :delete %> |
<%= link_to 'Back', course_lesson_phrases_path %>
